.portfolioContainer { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.portfolioContainer > div {
    background: var(--colorBgVariant);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolioContainer > div:hover {
    background: transparent;
    border-color: var(--colorPrimaryVariant);
    cursor: default;
}

.portfolioContainer > div h3 {
    text-align: center;
    margin-bottom: 3rem;
    padding: 0.2rem;
    color: var(--colorPrimaryVariant);
    background: var(--colorBgVariant);
    border: 1px solid var(--colorPrimaryVariant);
    border-radius: 2rem 2rem 2rem 2rem;
}

.portfolioContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    margin-bottom: 1rem;
}

.portfolioDetails {
    display: flex;
    gap: 1rem;
}

.portfolioDetailsIcon {
    margin-top: 6px;
    color: var(--colorPrimaryVariant);
}

.portfolioItem {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    padding-left: 1rem;
}

/* DEVICES RESIZING */
/* TABLETS */
@media screen and (max-width: 1024px) {
    .portfolioContainer {
        grid-template-columns: 1fr;
    }

    .portfolioContainer > div {
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
    }

    .portfolioContent {
        padding: 0.3rem;
    }
}

/* SMARTPHONES */
@media screen and (max-width: 600px) {
    .portfolioContainer {
        gap: 1rem;
    }

    .portfolioContainer > div {
        width: 90%;
        padding: 1rem 1rem 1rem 1rem;
    }

    .portfolioItem {
        padding: 0.3rem 0.3rem 0rem 0.3rem;
        text-align: center;
        gap: 0.1rem;
    }
}