.aboutContainer {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.bgeek {
    color: var(--colorPrimaryVariant);
}

.hey {
    color: white;
}

.bgeek:hover {
    color: white;
}

.aboutMe {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, 
        transparent, 
        var(--colorBgVariant), 
        transparent
    );
    display: grid;
    place-items: center;
}

.aboutMePhoto {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.aboutMePhoto:hover {
    transform: rotate(0);
}

.aboutCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.aboutCard {
    background: var(--colorBgVariant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.aboutCard:hover {
    background: transparent;
    border-color: var(--colorPrimaryVariant);
    cursor: default;
}

.aboutIcon {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.aboutCard h4 {
    color: var(--colorPrimaryVariant);
    font-size: 1.4rem;
}

.aboutCard small {
    font-size: 1rem;
    color: rgba(207, 207, 207, 0.781);
}

.aboutContent p {
    margin: 2rem 0 2.6rem;
    color: var(--colorLight);
}

/* DEVICES RESIZING */
/* TABLETS */
@media screen and (max-width: 1024px) {
    .aboutContainer {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .aboutMe {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .aboutContent p{
        margin: 1rem 0 1.5rem;
    }
}

/* SMARTPHONES */
@media screen and (max-width: 600px) {
    .aboutMe {
        width: 65%;
        margin: 0 auto 3rem;
    }
    .aboutCards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .aboutContent {
        text-align: center;
    }
    .aboutContent p {
        margin: 1.5rem 0;
    }
}