.aboutContainer {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.aboutMe {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 3rem;
    background: linear-gradient(
        45deg, 
        transparent, 
        var(--colorBgVariant), 
        transparent
    );
    display: grid;
    place-items: center;
}
