.container.contactContainer {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12rem;
}

.contactCards {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contactCard {
    background: var(--colorBgVariant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contactCard:hover {
    background: transparent;
    border-color: var(--colorPrimaryVariant);
}

.contactCardIcon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contactCard a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* DEVICES RESIZING */
/* TABLETS */
@media screen and (max-width: 1024px) {
    .container.contactContainer {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* SMARTPHONES */
@media screen and (max-width: 600px) {
    .container.contactContainer {
        width: var(--containerWidthSmall);
    }
}