header {
    height: 100vh;
    padding-top: 3.5rem;
    overflow: hidden;
}

.headerContainer {
    text-align: center;
    height: 100%;
    position: relative;
}

/* HEADER BUTTONS */
.headerButtons {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

/* HEADER SOCIALS */
.headerSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 0;
    bottom: 2rem;
}

.headerSocials::after {
    content: '';
    width: 2px;
    height: 5rem;
    background: var(--colorWhite);
}

/* IPHOTO */
.iPhoto {
    
    background: linear-gradient(
        transparent 8%, var(--colorBg) 50%, transparent 88%
    );
    width: 22rem;
    height: 35rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 3rem;
    overflow: hidden;
    padding: 0.5rem 1.2rem 1.2rem 1.2rem;
}

.scrollDown {
    position: absolute;
    left: 0;
    bottom: 5rem;
    transform: rotate(-90deg);
    font-weight: 200;
    font-size: 0.9rem;
}

/* DEVICES RESIZING */
/* TABLETS */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }

}

/* SMARTPHONES */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .headerSocials, .scrollDown {
        display: none;
    }
}
