.container.hobbiesContainer {
    width: 40%;
    padding-bottom: 4rem;
}

.hobby {
    width: 7rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.2rem solid var(--colorBg);
}

.hobbySlide {
    background: var(--colorBgVariant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.hobbyDesc {
    color: var(colorLight);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--colorPrimary);
}

/* DEVICES RESIZING */
/* TABLETS */
@media screen and (max-width: 1024px) {
    .container.hobbiesContainer{
        width: 60%;
    }
}

/* SMARTPHONES */
@media screen and (max-width: 600px) {
    .container.hobbiesContainer{
        width: var(--containerWidthSm);
        margin: 1rem;
    }

    .hobbyDesc {
        width: var(--containerWidthSm);
        margin: 1rem;
    }
}