@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

:root {
    --colorBg: #000000c5;
    --colorBgVariant: #0000006b;
    --colorPrimary:  rgba(255, 86, 86, 0.932);
    --colorPrimaryVariant: rgba(255, 86, 86, 0.678);
    --colorWhite: #eeeeeed8;
    --colorLight: rgba(255, 122, 122, 0.616);

    --containerWidthLarge: 75%;
    --containerWidthMedium: 86%;
    --containerWidthSmall: 90%;

    --transition: all 400ms ease;
}

body {
    font-family: 'Oswald', sans-serif;
    background: var(--colorBg);
    color: var(--colorWhite);
    line-height: 1,7;
    background-image: url(./assets/bg-texture.png);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* UNIVERSAL STYLES */
.container {
    width: var(--containerWidthLarge);
    margin: 0 auto; 
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2em;
}

h4, h5 {
    color: var(--colorLight)
}

section {
    margin-top: 8rem;
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--colorLight);
}

section > h2 {
    color: var(--colorPrimary);
    margin-bottom: 3rem;
}

.textLight {
    color: var(--colorLight);
}

/**/
a {
    color: var(--colorWhite);
    transition: var(--transition);
}

a:hover {
    color: var(--colorPrimaryVariant);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--colorWhite);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--colorPrimary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--colorBgVariant);
    color: var(--colorPrimary);
    border-color: transparent;
}

.btnPrimary {
    background: var(--colorPrimaryVariant);
    color: var(--colorBg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-top: -2.5rem;
}

/* DEVICES RESIZING */
/* TABLETS */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--containerWidthMedium);
    }

}
/* SMARTPHONES */
@media screen and (max-width: 600px) {
    .container {
        width: var(--containerWidthSmall);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}
